/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");



:root {
    --blue: #0000ff;
    --white: #ffffff;
    --black: #000000;
    --aqua: rgba(241, 235, 235, 0.788);
    --grey: rgb(108, 118, 134);

}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: var(--grey);
    margin-top: 0;
    padding-left: 30px;
}

nav {
    display: flex;
    height: 10vh;
    align-items: center;
    gap: 30px;
    padding-right: 20px;
    color: #ffffffc7;
    font-size: 15px;
}

.logo {
    width: 90px;
    height: 30px;
    position: absolute;
    top: 30px;
}

.head {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: flex-end;
    padding-right: 60px;
}

.head-btn {
    padding: 5px 30px;
    color: #ffffff;
    background-color: transparent;
    border: 0.5px solid #ffffff93;
}

.head-content {
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 70px;
    justify-content: center;
    gap: 100px;

}

img.front-img {
    width: 330px;
    height: 350px;
}

.head-text {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #ffffff;
}

.head-text h1 {
    font-size: 40px;
}

.head-text p {
    color: #ffffffb6;
}

.input input {
    padding: 20px 25px;
    padding-right: 180px;
}

.input button {
    background-color: green;
    padding: 10px 30px;
    border: 1px solid #ffffff;
    color: #ffffff;
    position: relative;
    left: -140px;
}

.content {
    margin-top: 70px;
    margin-bottom: 50px;
}

.content>h1 {
    font-size: 30px;
    text-align: center;
}

.content-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-item h1 {
    font-size: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.meet-img {
    width: 900px;
    height: 500px;
}

.main-section>h1 {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 30px;
    text-align: center;
}

.main {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
}

.content-img img {
    width: 360px;
    height: 330px;
}

.contents {
    width: 400px;

}

.contents h1 {
    font-size: 30px;
    padding-bottom: 20px;
    text-transform: capitalize;
}

.contents p {
    padding-bottom: 10px;
    font-size: 14px;
    color: var(--grey);
    padding-bottom: 20px;
}

.btn-common {
    padding: 10px 30px;
    color: var(--white);
    border-radius: 5px;
    background-color: #0080008f;
    border: 1px solid var(--white);
}

.last-card {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.last-card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 320px;
    justify-content: center;
    text-align: center;
}

.last-img {
    width: 250px;
    height: 300px;
}

.last-heading {
    margin-top: 9em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.last-heading h1 {
    text-transform: capitalize;
    font-size: 40px;
    width: 400px;
}

.last-heading p {
    width: 500px;
}

.see-btn {
    margin-top: 10px;
    padding: 10px 35px;
    align-self: center;
    color: #ffffff;
    background-color: #0080008f;
    border: 1px solid #ffffff;
    margin-left: 600px;
    margin-bottom: 30px;

}

.footer {
    margin-top: 20px;
    background-color: #000000;
    color: #ffffff;
    padding-bottom: 70px;
    padding-top: 40px;

}

.foot-info {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding-top: 30px;
}

.foot-info a {
    text-decoration: none;
    color: #ffffffc5;
    font-size: 13px;

}

.foot-info h1 {
    font-size: 15px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.icons img {
    width: 35px;
    height: 35px;
}

.foot-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 700px;
    padding-bottom: 30px;
    margin: 10px 100px;
    border-bottom: 1px solid #ffffff4b;
}

.icons {
    gap: 10px;
    display: flex;
}

img.icon-logo-img {
    width: 90px;
    height: 30px;
}